@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&display=swap');

:root {
    --color-white: #ffffff;
    --color-light-green: #E0EDC5;
    --color-green: #92AA83;
    --color-black: #272727;
    --color-orange: #EBC88C;
    --color-red: #EB8C93;
    --color-light-gray: #F8F8F8;
    --color-gray: #F3F3F3;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-black);
    font-family: 'Hind Madurai', sans-serif;
}